body {
	background-color: #f8f8f8;
	margin: 0px;
	font-family: 'Oswald', serif;
}
.logo {
	cursor: pointer;
	height: 48px;
	width: 48px;
	margin:0 auto;
}
.header {
	text-align: center;
}

.btn {
	width:100%;
	background: #4585F2;
	background-image: -webkit-linear-gradient(top, #4585F2, #2980b9);
	background-image: -moz-linear-gradient(top, #4585F2, #2980b9);
	background-image: -ms-linear-gradient(top, #4585F2, #2980b9);
	background-image: -o-linear-gradient(top, #4585F2, #2980b9);
	background-image: linear-gradient(to bottom, #4585F2, #2980b9);
	color: #ffffff;
	font-size: 13px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}